/* Page styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

input {
    padding: 5px;
    margin: 10px;
}

button {
    background-color: #0074D9;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


footer{
    
  background-color: #ffffff;
  position: bottom;
  color: #000000;
  text-align: center;
  position: absolute;
  bottom: 0;
  width:     99%;
  height: 5%;
  font-size: 22px;
}