/* Page styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

input {
    padding: 5px;
    margin: 10px;
}

button {
    background-color: #0074D9;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 33%;
}

button:hover {
    background-color: #0056b3;
}

#math{
    font-size: 5vh;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 22px;
  }

  @media screen and (max-width: 768px) {
    footer {
      font-size: 18px;
      height: 40px;
    }
  }
  
